# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log

# Virtual environment
venv/
.env

# VS Code
.vscode/


# .env
.env
*.env
.env.*

# in your root .gitignore
.env
.env.*
*.env
__pycache__/
*.pyc
media/
db.sqlite3
node_modules/
dist/